* {
    padding: 0;
    margin:0;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden; 
    background-color: black;
}
.container {
    max-width: 1055px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    max-width: 1440px;
    background-color: #1f2937;
    margin: 0 auto;
    height: 535px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.header__nav-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    color:#e5e7eb;
    font-size: 18px;
}
.header__body-inner {
    display: flex;
    max-width: 1055px;
    margin: 80px 0;
    gap: 150px;
}
.body__text {
    width: 450px;
    height: 240px;
    display: inline-block;
}
.awesome {
    font-size: 36px;
    font-weight: 900;
    color: #f9faf8;
}
.pdiv {
    line-height: 30px;
}
p {
    font-size: 18px;
    color: #e5e7eb;
}
.btn {
    margin:55px 0 0 0;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: #3882f6;
    font-weight: 900;
    color: #e5e7eb
}
.body__image {
    width: 590px;
    height: 220px;
    background-color: rgba(214, 215, 219, 0.089);
}
.par {
    padding: 100px 0 0 130px;
}
.main {
    max-width: 1440px;
    height: 1280px;
    margin: 0 auto;
    background-color: #f9faf8;
    
}
.random {
    text-align: center;
    padding: 70px;
    font-size: 24px;
}
.cubes {
    margin-left: 105px;
}
.cubes__border {
    width: 822px;
    height: 180px;
    display: flex;
    gap: 20px;
}
.cube {
    width: 170px;
    height: 170px;
    border:5px solid #3882f6;
}
.figcaption {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.fih {
    width: 150px;
    color:#1f2937
}



